<div class="Recipe-content">
  <h1 class="page-title">Recipes</h1>
  <div class="Recipe-create">

    <form #RecipeForm="ngForm" (ngSubmit)="createRecipe(RecipeForm)" novalidate>
      <label for="name">Recipe name</label>
      <input STYLE="background-color: #efefef" type="text" id="name" class="form-control"
             placeholder="Input Recipe name"
             required
             name="name" [(ngModel)]="newRecipe.name"
             #name="ngModel">
      <br>
      <label for="hoursBBD">Hours of BBD</label>
      <input STYLE="background-color: #efefef" type="number" id="hoursBBD" class="form-control"
             placeholder="Input hoursBBD"
             required
             name="hoursBBD" [(ngModel)]="newRecipe.hoursBBD"
             #hoursBBD="ngModel">
      <br>
      <input STYLE="background-color: #b7b7b7" type="submit">
      <div *ngIf="name.errors && name.dirty"
           class="alert alert-danger">
        <div [hidden]="!name.errors.required">
          Name is required.
        </div>
      </div>
    </form>
  </div>

  <h1 class="Recipes"></h1>
  <ul class="Recipe-list">
    <li *ngFor="let Recipe of recipes" [class.completed]="Recipe.visibility === true">
      <div class="Recipe-row" *ngIf="!editing || editingRecipe.id != Recipe.id">
        <a class="Recipe-completed" (click)="toggleVisibility(Recipe)">
          <i class="material-icons toggle-completed-checkbox"></i>
        </a>
        <span class="Recipe-title">
              {{Recipe.name}}
            </span>
        <span class="Recipe-title">
        {{Recipe.hoursBBD}}

            </span>
        <span class="Recipe-title">


            </span>
        <span class="Recipe-actions">
        <a (click)="editRecipe(Recipe)">
          <i class="material-icons edit">edit</i>
        </a>
                 <a (click)="deleteRecipe(Recipe.id)">
                  <i class="material-icons delete">clear</i>
                </a>
          </span>

      </div>
      <div class="Recipe-edit" *ngIf="editing && editingRecipe.id === Recipe.id ">
        <input class="form-control" type="text"
               [(ngModel)]="editingRecipe.name" required>
        <span class="edit-actions">
                <a (click)="updateRecipe(editingRecipe)">
                  <i class="material-icons">done</i>
                </a>
                <a (click)="clearEditing()">
                  <i class="material-icons">clear</i>
                </a>
            </span>
      </div>
    </li>
  </ul>
  <div class="no-Recipes" *ngIf="recipes && recipes.length == 0">
    <p>No Recipes</p>
  </div>
</div>
